<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rbricks.appsharing">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".concept.Application.AppSharingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".BottomSheetPracActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".BottomSheetPracDialogActivity"
            android:theme="@style/CustomTheme"/>
        <activity android:name=".ServiceTestActivity"/>
        <activity android:name=".IntentServiceEmptyActivity"/>

        <service android:name=".services.GopiService"/>
        <service android:name=".services.GopiIntentService"/>
        <service
            android:name=".concept.taskscheduling.services.SchedulingIntentService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>
        <service
            android:name=".concept.taskscheduling.services.GopiOneOffService"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY"/>
            </intent-filter>
        </service>

        <receiver android:name=".receivers.GopiBroadcastReceiver"/>

        <activity android:name=".concept.Activities.LifeCycleFirstActivity"/>
        <activity android:name=".concept.Activities.LifeCycleSecondActivity"/>
        <activity android:name=".concept.Activities.ViewPagerPracActivity"/>
        <activity android:name=".concept.rxjava.RxJavaSampleActivity"/>
        <activity android:name=".concept.duktape.DuktapeActivity"/>
        <activity android:name=".concept.animations.TweenAnimationActivity"/>
        <activity android:name=".concept.animations.PropertyAnimationActivity"/>
        <activity android:name=".concept.animations.AdvancedAnimationActivity"/>
        <activity
            android:name=".concept.animations.ActivityTransitionAnimationActivity"
            android:theme="@style/ActivityTransitionTheme">
        </activity>
        <activity
            android:name=".concept.animations.TransitionDetailsActivity"
            android:theme="@style/ActivityTransitionTheme">
        </activity>
        <activity android:name=".concept.streams.StreamsActivity">
        </activity>
        <activity android:name=".concept.rxjava.RxJavaAdvancedActivity">
        </activity>
        <activity android:name=".concept.animations.BrindaAnimationActivity"/>
        <activity android:name=".concept.notesapp.activities.NotesDetailsActivity"/>
        <activity android:name=".concept.notesapp.activities.NotesListingActivity"/>
        <activity android:name=".concept.notesapp.activities.NewNotesListingActivity"/>
        <activity
            android:name=".HomeActivity"
            android:label="Home Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name=".concept.notesapp.contentprovider.NotesContentProvider"
            android:authorities="com.notes.gopi.provider"
            android:exported="true">
        </provider>

        <activity android:name=".concept.memoryefficient.activities.BitmapMemoryActivity">
        </activity>
        <activity android:name=".concept.taskscheduling.alarammanaager.AlaramManagerActivity">
        </activity>
        <activity android:name=".concept.internethandling.InternetHandlingActivity">
        </activity>

        <receiver android:name=".concept.internethandling.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity android:name=".concept.filesystemstorage.FileSystemStorageActivity">
        </activity>
        <activity android:name=".concept.constraintlayout.ConstraintLayoutActivity">
        </activity>
        <activity android:name=".concept.resizablerecyclerview.ResizableRecyclerviewActivity">
        </activity>
        <activity android:name=".concept.java8.CustomLambdaReferenceActivity">
        </activity>
        <activity android:name=".concept.keyboardevents.KeyboardEventsActivity">
        </activity>
        <activity android:name=".concept.customcanvasdrawing.CustomDrawingActivity">
        </activity>
        <activity android:name=".concept.scaleaview.ScaleAViewActivity">
        </activity>

        <receiver android:name=".receivers.AppUpdateReceiver">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <activity android:name=".bookingdotcom.FindViewByIdActivity">
        </activity>
    </application>

</manifest>